<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="凡友福" />
    <meta name="keywords" content="<%this.keywords%>" />
    <title><%this.title%>|凡友福的个人博客</title>
    <link rel="stylesheet" href="../css/swal.css" />

    <meta name="description" content="<%this.description%>" />
  </head>
  <body>
    <nav>
      <h1 class="logo"><a href="./index">网站</a></h1>
      <a href="../index.html">首页</a>
      <a href="../archives.html">归档</a>
      <a href="../category.html">分类</a>
      <a href="../tags/index.html">标签</a>
      <a href="../about.html">关于</a>
    </nav>
    <h1>
      <%this.title%>
    </h1>
    <div class="meta">
      <span class="category"><%this.category%></span>
      <div class="tag"><%this.tags%></div>
      <span class="dateTime"><%this.dateTime%></span>
    </div>
    <article class="m-markdown">
      <%this.content%>
    </article>
  </body>
</html>
