<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="凡友福" />
    <meta name="keywords" content="<%this.title%>" />
    <title><%this.title%>|凡友福的个人博客</title>
    <link rel="stylesheet" href="../css/index.css" />
    <meta name="description" content="<%this.description%>" />
  </head>

  <body class="article">
    <header class="m-header">
      <div class="container">
        <h1 class="m-logo" title=""><a href="./index">凡友福的博客</a></h1>
        <nav class="m-nav">
          <a href="../index.html">首页</a>
          <a href="../archive.html">归档</a>
          <a href="../category.html">分类</a>
          <!-- <a href="../about.html">关于</a> -->
        </nav>
      </div>
    </header>
    <section class="wrapper">
      <div class="main">
        <h1 class="h1">
          <%this.title%>
        </h1>
        <div class="meta">
          <span class="category"
            >分类于：<a href="../category.html#<%this.category%>"
              ><%this.category%></a
            ></span
          >
          <%if(this.tags){%>
          <div class="tag">标签：<%this.tags%></div>
          <%}%>
          <span class="dateTime">发表于：<%this.dateTime%></span>
        </div>
        <article class="m-markdown">
          <%this.content%>
        </article>
      </div>
      <aside id="asideContianer">
        <dl class="m-list outline-content" id="aside">
          <dt class="m-list-title " id="asideTitle">目录</dt>

          <dd class="m-list-item"></dd>
        </dl>
      </aside>
    </section>

    <script>
      function buildCagloute() {
        var asideDom = document.getElementById('aside');
        var articleDom = document.querySelector('.m-markdown');
        var hList = articleDom.querySelectorAll('h1,h2,h3,h4,h5,h6');

        for (var i = 0; i < hList.length; i++) {
          var item = hList[i];
          var aTarget = document.createElement('a');
          aTarget.id = item.innerHTML;
          item.parentNode.insertBefore(aTarget, item);
          var level = item.nodeName.substr(1, 1);

          var alink = document.createElement('a');
          alink.innerHTML = item.innerHTML;
          alink.href = '#' + item.innerHTML;
          alink.className = 'pl' + level + ' outline-h' + level;
          alink.level = level;

          var dt = document.createElement('dt');
          dt.className = 'm-list-item';

          dt.appendChild(alink);

          asideDom.appendChild(dt);
        }
      }

      window.onload = function() {
        buildCagloute();

        var aside = document.getElementById('aside');

        var last_known_scroll_position = 0;
        var ticking = false;

        function doSomething(scroll_pos) {
          aside.style.transform = 'translateY(' + scroll_pos + 'px)';

          console.info('Do something with the scroll position');
        }

        function hScroll() {
          last_known_scroll_position = window.scrollY;

          if (!ticking) {
            window.requestAnimationFrame(function() {
              doSomething(last_known_scroll_position);
              ticking = false;
            });

            ticking = true;
          }
        }
        function throttle(f, dela) {
          dela = dela || 500;
          var timer = null;
          return function() {
            if (timer) {
              clearTimeout(timer);
            }
            timer = setTimeout(function() {
              f();
            }, dela);
          };
        }
        var fScroll = throttle(hScroll);

        window.addEventListener('scroll', function() {
          fScroll();
        });
      };

      // function SideBar(config = {status:"close", domId:"domId"}){
      //   this.sideBarDom = document.getElementById(domId);

      //   this.btn = document.getElementById("asideTitle");

      //   if(config.status === "close"){
      //     this.sideBarDom.style.width = "0";
      //   }

      // }
    </script>
  </body>
</html>
