<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <header class="m-header">
      <div class="container">
        <h1 class="m-logo" title=""><a href="./index">网站</a></h1>
        <nav class="m-nav">
          <a href="./index.html">首页</a>
          <a href="./archives.html">归档</a>
          <a class="u-a_cur" href="#">分类</a>
          <a href="./tags/index.html">标签</a>
          <a href="./about.html">关于</a>
        </nav>
      </div>
    </header>

    <section class="container">
      <% for(var index in this) {%>
      <div class="m-list s-single-line">
        <h2 class="m-list-title">
          <%this[index].cateName%>[<%this[index].list.length%>]
        </h2>
        <% for(var idx in this[index].list) {%>
        <div class="m-list-item">
          <a class="m-item-title" href="<%this[index].list[idx].linkName%>"
            ><%this[index].list[idx].title%></a
          >

          <time class="u-datetime" datetime="<%this[index].list[idx].dateTime%>"
            ><%this[index].list[idx].dateTime%></time
          >
          <label class="m-item-meta">
            <% for(var ix in this[index].list[idx].tags) {%>
            <span class="u-icon_tag"><%this[index].list[idx].tags[ix] %></span>
            <%}%>
          </label>
        </div>
        <%}%>
      </div>
      <%}%>
    </section>
  </body>
</html>
